# registry=https://registry.npm.taobao.org
chromedriver_cdnurl=https://npm.taobao.org/mirrors
electron_mirror=https://npm.taobao.org/mirrors
fse_binary_host_mirror=https://npm.taobao.org/mirrors
phantomjs_cdnurl=https://npm.taobao.org/mirrors
sass_binary_site=https://npm.taobao.org/mirrors
